<h1>Say#who</h1>
<p>Find me in app/views/say/who.html.erb</p>
<%= form_tag({action: "hello"}, method: "get") do %>
  <%= label_tag(:q, "Who are you?") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Hola") %>

<% end %>
